/*######### Default #########*/
nav, 
header, 
footer {
    display: block;
}

body {
/*  background: linear-gradient(#00e6e6, #e6ffff);*/
/*    background-color: pink;*/
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
}

/*########## Nav Bar #########*/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: greenyellow;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*####### Mobile ########*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
}



h1 {
  color: lightslategray;
  text-align: center;
/*  text-shadow: 2px 2px 5px black;*/
/*  font-family: 'Pinyon Script', serif, sans-serif;*/
}

h2 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 3px blue;
}

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: auto;
  box-shadow: 3px 5px 3px black;
    border-radius: 50%;
}

#circle {
  color: darked;
  font-size: 40px;
}

img {
    max-width: auto;
    height: auto;
    padding: 5px;
    opacity: 0.5;
    display: block;
    margin: auto;
    margin-bottom: 60px;
    
}

.borderImg {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid red;
    padding: 5px;
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    padding: 10px 20px;
}


.formatting {
    font-size: 25px;
    line-height: 2em;
    color: darkred;
}

.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


* {
    box-sizing: border-box;
}

[class*="col-"] {
    border: 2px solid red;
    padding: 15px;
}



